@import "tailwindcss";

:root {

  --color-gray-50: #FBF9F9;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
  --color-current: currentColor;

  --background: var(--color-white);
  --foreground: var(--color-gray-900);
  --muted: var(--color-gray-100);
  --muted-foreground: var(--color-gray-500);
  --border: var(--color-gray-200);
  --input: var(--color-gray-200);
  --ring: var(--color-gray-900);
  --primary: var(--color-gray-900);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--color-gray-900);
  --destructive: var(--color-gray-900);
  --destructive-foreground: var(--color-white);
  --accent: var(--color-gray-100);
  --accent-foreground: var(--color-gray-900);
  --popover: var(--color-white);
  --popover-foreground: var(--color-gray-900);
  --card: var(--color-white);
  --card-foreground: var(--color-gray-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-red-*: initial;
  --color-orange-*: initial;
  --color-amber-*: initial;
  --color-yellow-*: initial;
  --color-lime-*: initial;
  --color-green-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-cyan-*: initial;
  --color-sky-*: initial;
  --color-blue-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-purple-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-zinc-*: initial;
  --color-slate-*: initial;
  --color-neutral-*: initial;
  --color-stone-*: initial;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans),Arial, Helvetica, sans-serif;
}